:root {
  --main-light: #f2f6f5;
  --main-dark: #374553;
  --grey: #7a8795;
  --green: #93b5b3;
  --error: #fa8282;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  font-size: 1.8rem;
  background: var(--main-light);
  color: var(--main-dark);
  text-align: center;
}
a {
  text-decoration: none;
  color: var(--main-dark);
}
li {
  list-style-type: none;
}
a,
button {
  cursor: pointer;
}
p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* Basic form styling */
.form {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 80rem;
  padding: 2rem;
  box-shadow: 1px 1px 14px -7px var(--grey);
}

.form label {
  text-align: left;
}

.form input,
textarea,
select {
  width: 100%;
  font-family: "Roboto", sans-serif;
  padding: 1.4rem;
  margin-bottom: 1rem;
  border: 1px solid #eeeeee;
}

/* Basic button styling */
.btn__primary {
  padding: 1.4rem;
  background: var(--main-dark);
  outline: none;
  border: none;
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--main-light);
  margin: 1rem 0;
}

.btn__primary:hover {
  background: var(--grey);
}

/* Basic error styling */
.error__message {
  background: var(--error);
  color: #fff;
  font-size: 2.4rem;
  margin: 2rem;
  max-width: 80rem;
  margin: 2rem auto;
}
